<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <crap4j outputFile="build/logs/crap4j.xml"/>
            <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Anera\HealthCheck\Tests\">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
